<label><b>Total result:{{usersDetail?.length}}</b></label>
<ul *ngFor="let item of usersDetail | paginate: { itemsPerPage: 10, currentPage: p }">
    <li>
      <div class="details">
        <div class="avatar"><img [src]="item.avatar_url" /></div>
        <div class="info">
          <h2>{{ item.name }}</h2>
          <p>Language:{{ item.language }}</p>
        </div>
      </div>
      <footer class="">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Details">
            <ng-template ngbPanelContent>
              Stars:{{ item.stargazers_count }}<br />
              Open Issues Count:{{item.open_issues_count}}<br />
              Forks Count: {{ item.forks }}<br />
              Watchers:{{item.watchers}}
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </footer>
    </li>
  </ul>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>